<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
     
    <ion-card-content>
      <p id="descripcion">
        Bienvenido a SavingApp, tu compañero financiero personal diseñado para ayudarte a gestionar tus ingresos, gastos y finanzas de manera eficiente y sencilla. Nuestra misión es empoderarte con herramientas fáciles de usar para que puedas llevar el control de tu dinero y tomar decisiones financieras inteligentes.
      </p>
      
      <ion-card-header>
        <ion-card-title class="titulo">Características principales:</ion-card-title>
      </ion-card-header>
      
        <ul>
          <li><strong>Gestión de Ingresos y Gastos:</strong> Registra y organiza tus ingresos y gastos, tanto mensuales como recurrentes, en un solo lugar.</li>
          <li><strong>Balance Financiero Automático:</strong> Calcula automáticamente el balance de tus finanzas, mostrándote cuánto dinero tienes disponible después de tus gastos.</li>
          <li><strong>Resumen Mensual:</strong> Obtén una visión clara de tus finanzas cada mes, con resúmenes detallados de tus ingresos y gastos.</li>
          <li><strong>Seguridad y Privacidad:</strong> Protegemos tus datos con los más altos estándares de seguridad para garantizar que tu información financiera esté siempre segura.</li>
        </ul>
      
        <ion-card-header>
          <ion-card-title class="titulo">Contáctanos:</ion-card-title>
        </ion-card-header>

      <p id="descripcion">
        Si tienes alguna pregunta, sugerencia o comentario, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte en tu viaje hacia una mejor salud financiera.
      </p>

      <ul>
        <li><strong>Melissa Nathalia Ayllon Gutierrez:</strong> mayllon&#64;espol.edu.ec</li>
        <li><strong>Michael Bryan Estrada Santana:</strong> mbestrad&#64;espol.edu.ec</li>
        <li><strong>Juan Pablo Plúas Muñoz:</strong> jppluas&#64;espol.edu.ec</li>
      </ul>
    </ion-card-content>

  </ion-card>
</ion-content>
