<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="finances" href="/finances">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="home" href="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/about">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
